
body, h1, h2, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Colonna MT", sans-serif;
    color: #555;
    background-image: url('depressing-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
}


p.depressing {
    font-family: "Georgia", serif;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    line-height: 1.5;
}
